html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.myDiv {
    border: 5px outset red;
    background-color: lightblue;
    text-align: center;
    width: 100%;
    word-wrap: break-word;
}
